config OLPC
	tristate "One Laptop Per Child support"
	depends on X86 || ARM || COMPILE_TEST
	depends on !X86_PAE
	select GPIOLIB
	select OF
	select OF_PROMTREE if X86
	select IRQ_DOMAIN
	help
	  Add support for detecting the unique features of the OLPC
	  XO hardware.
