if PLAT_PXA

config PXA_SSP
	tristate
	help
	  Enable support for PXA2xx SSP ports

config PXA_PANIC_FLUSH
	bool "PXA cache flush when panic"
	depends on KEXEC
	help
	  Enable support for flush all cache during panic

config PXA_32KTIMER
	bool "PXA 32K Timer"
	depends on (ARCH_PXA || ARCH_MMP)
	default y
	help
	  32KHz timer support for PXA27x and PXA3xx/9xx Processor

config PINMUX_DEBUG_FS
	bool "PINMUX dump debug fs support"
	depends on (PXA3xx || PXA95x || ARCH_MMP)
	default n
	help
	  Allows to dump all MFPR values. Implemented in debug fs.
	  In order to use do the following:
	  mount -t debugfs none /sys/kernel/debug
	  cat sys/kernel/debug/PINMUX/Pinmux

endif
