menuconfig SWITCH
	tristate "Switch class support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if SWITCH

config SWITCH_GPIO
	tristate "GPIO Swith support"
	depends on GENERIC_GPIO
	help
	  Say Y here to enable GPIO based switch support.

config SWITCH_HEADSET
        tristate "Headset Swith support"
        depends on GENERIC_GPIO
        help
          Say Y here to enable headset & hook switch support.

config SWITCH_HEADSET_HOST_GPIO
	bool "Headset Switch Host GPIO support"
	depends on MACH_ABILENE || MACH_YELLOWSTONE
	help
	  To support headset switch (detection), this option must
	  be selected. This option makes Host GPIO to be configured
	  as input to receive the interrupt.

config SWITCH_WM8994_HEADSET
	tristate "Headset Swith support"
	depends on GENERIC_GPIO
	depends on SWITCH_HEADSET_HOST_GPIO
	  help
	  Say Y here to enable wm8994 headset switch support.

endif # SWITCH
