// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * OLPC XO 1.75 Laptop.
 *
 * Copyright (C) 2018,2019,2020 Lubomir Rintel <lkundrak@v3.sk>
 */

/dts-v1/;
#include "mmp2.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/linux-event-codes.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/marvell,mmp2-audio.h>

/ {
	model = "OLPC XO-1.75";
	compatible = "olpc,xo-1.75", "mrvl,mmp2";

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		bootargs = "console=tty0 console=ttyS2,115200 root=/dev/sda3 fbcon=nodefer rootwait";

		framebuffer@1fc00000 {
			compatible = "simple-framebuffer";
			reg = <0x1fc00000 (1200 * 900 * 2)>;
			width = <1200>;
			height = <900>;
			stride = <(1200 * 2)>;
			format = "r5g6b5";
			display = <&lcd0>;
			clocks = <&soc_clocks MMP2_CLK_DISP0_LCDC>,
				 <&soc_clocks MMP2_CLK_DISP0>;
		};
	};

	memory@0 {
		available = <0xcf000 0x1ef31000 0x1000 0xbf000>;
		reg = <0x0 0x20000000>;
		device_type = "memory";
	};

	gpio-keys {
		compatible = "gpio-keys";

		lid {
			label = "Lid";
			gpios = <&gpio 129 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_LID>;
			wakeup-source;
		};

		tablet_mode {
			label = "E-Book Mode";
			gpios = <&gpio 128 GPIO_ACTIVE_LOW>;
			linux,input-type = <EV_SW>;
			linux,code = <SW_TABLET_MODE>;
			wakeup-source;
		};
	};

	i2c-0 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 109 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 108 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-gpio,timeout-ms = <1000>;
		status = "okay";

		camera@21 {
			compatible = "ovti,ov7670";
			reg = <0x21>;
			reset-gpios = <&gpio 102 GPIO_ACTIVE_LOW>;
			powerdown-gpios = <&gpio 150 GPIO_ACTIVE_LOW>;
			clocks = <&camera0>;
			clock-names = "xclk";

			port {
				ov7670_0: endpoint {
					hsync-active = <1>;
					vsync-active = <1>;
					remote-endpoint = <&camera0_0>;
				};
			};
		};
	};

	i2c-1 {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 110 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 161 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN)>;
		#address-cells = <1>;
		#size-cells = <0>;
		i2c-gpio,timeout-ms = <1000>;
		status = "okay";

		dcon@d {
			compatible = "himax,hx8837";
			stat-gpios = <&gpio 100 GPIO_ACTIVE_HIGH>,
				     <&gpio 101 GPIO_ACTIVE_HIGH>;
			load-gpio = <&gpio 142 GPIO_ACTIVE_HIGH>;
			interrupt-parent= <&gpio>;
			interrupts = <124 IRQ_TYPE_EDGE_FALLING>;
			reg = <0x0d>;
			status = "okay";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					dcon_rgb_in: endpoint {
						remote-endpoint = <&lcd0_rgb_out>;
					};
				};

				port@1 {
					reg = <1>;
					dcon_gettl_out: endpoint {
						remote-endpoint = <&panel_dettl_in>;
					};
				};
			};
		};
	};

	panel {
		compatible = "innolux,ls075at011", "simple-panel";

		port {
			panel_dettl_in: endpoint {
				remote-endpoint = <&dcon_gettl_out>;
			};
		};
	};

	battery {
		compatible = "olpc,xo1.5-battery", "olpc,xo1-battery";
	};

	wlan_reg: fixedregulator0 {
		compatible = "regulator-fixed";
		regulator-name = "wlan";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio 34 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	wlan_pwrseq: pwrseq0 {
		compatible = "mmc-pwrseq-sd8787";
		powerdown-gpios = <&gpio 57 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio 58 GPIO_ACTIVE_HIGH>;
	};

	sound-card {
		compatible = "audio-graph-card";
		label = "OLPC XO";
		dais = <&sspa0_dai>;
		routing = "Headphones", "HPOL",
			  "Headphones", "HPOR",
			  "MIC2", "Mic Jack";
		widgets = "Headphone", "Headphones", "Microphone", "Mic Jack";
		hp-det-gpio = <&gpio 97 GPIO_ACTIVE_HIGH>;
		mic-det-gpio = <&gpio 96 GPIO_ACTIVE_HIGH>;
	};

	soc {
		axi@d4200000 {
			ap-sp@d4290000 {
				#address-cells = <1>;
				#size-cells = <0>;
				compatible = "olpc,ap-sp";
				interrupts = <40>;
				reg = <0xd4290000 0x1000>;
				data-gpios = <&gpio 72 GPIO_ACTIVE_HIGH>;
				clk-gpios = <&gpio 71 GPIO_ACTIVE_HIGH>;
				status = "okay";
			};
		};
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		display_reserved: framebuffer {
			compatible = "marvell,mmp2-framebuffer",
				     "marvell,armada-framebuffer";
			size = <0x02000000>;
			alignment = <0x02000000>;
			no-map;
		};
	};
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;
};

&rtc {
	status = "okay";
};

&usb_phy0 {
	status = "okay";
};

&usb_otg0 {
	status = "okay";
};

&mmc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	clock-frequency = <50000000>;
	no-1-8-v;
	mrvl,clk-delay-cycles = <31>;
	broken-cd;
};

&mmc2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	clock-frequency = <50000000>;
	no-1-8-v;
	bus-width = <4>;
	non-removable;
	broken-cd;
	wakeup-source;
	keep-power-in-suspend;
	mmc-pwrseq = <&wlan_pwrseq>;
	vmmc-supply = <&wlan_reg>;
};

&mmc3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mmc3_pins>;
	clock-frequency = <50000000>;
	no-1-8-v;
	bus-width = <8>;
	non-removable;
	broken-cd;
	mrvl,clk-delay-cycles = <31>;
};

&twsi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&twsi1_pins>;

	audio-codec@1a {
		compatible = "realtek,alc5631";
		reg = <0x1a>;
		status = "okay";

		port {
			rt5631_0: endpoint {
				mclk-fs = <256>;
				clocks = <&audio_clk MMP2_CLK_AUDIO_SYSCLK>;
				remote-endpoint = <&sspa0_0>;
			};
		};
	};
};

&twsi2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&twsi2_pins>;

	rtc@68 {
		compatible = "dallas,ds1338";
		reg = <0x68>;
		status = "okay";
	};
};

&twsi6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&twsi6_pins>;

	accelerometer@1d {
		compatible = "st,lis331dlh", "st,lis3lv02d";
		reg = <0x1d>;
		status = "okay";
	};
};

&lcd0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&lcd0_pins>;
};

&lcd0_rgb_out {
	bus-width = <18>;
	remote-endpoint = <&dcon_rgb_in>;
};

&ssp3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&ssp3_pins>;
	#address-cells = <0>;
	spi-slave;
	ready-gpios = <&gpio 125 GPIO_ACTIVE_HIGH>;

	slave {
		compatible = "olpc,xo1.75-ec";
		spi-cpha;
		cmd-gpios = <&gpio 155 GPIO_ACTIVE_HIGH>;
	};
};

&camera0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&camera0_pins>;

	port {
		camera0_0: endpoint {
			remote-endpoint = <&ov7670_0>;
		};
	};
};

&asram {
	status = "okay";
};

&adma0 {
	status = "okay";
};

&audio_clk {
	status = "okay";
};

&sspa0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sspa0_pins>;
	dmas = <&adma0 0>, <&adma0 1>;
	dma-names = "tx", "rx";

	sspa0_dai: port {
		sspa0_0: endpoint {
			remote-endpoint = <&rt5631_0>;
			frame-master;
			bitclock-master;
			dai-format = "i2s";
		};
	};
};

&gpu {
	status = "okay";
};

&pinctrl {
	uart3_pins: pinmux_uart3_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x260 (4 | WAKE_EDGE_OFF | SLEEP_SEL)>,
				      <0x264 (4 | WAKE_EDGE_OFF | SLEEP_SEL)>;

	};

	uart4_pins: pinmux_uart4_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x268 (3 | WAKE_EDGE_OFF | SLEEP_SEL)>,
				      <0x26c (3 | WAKE_EDGE_OFF | SLEEP_SEL)>;

	};

	mmc1_pins: pinmux_mmc1_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x028 (1 | WAKE_EDGE_OFF | SLEW_FAST)>,
				      <0x02c (1 | WAKE_EDGE_OFF | SLEW_FAST)>,
				      <0x030 (1 | WAKE_EDGE_OFF | SLEW_FAST)>,
				      <0x034 (1 | WAKE_EDGE_OFF | SLEW_FAST)>,
				      <0x03c (1 | WAKE_EDGE_OFF | SLEW_FAST)>,
				      <0x048 (1 | WAKE_EDGE_OFF | SLEW_FAST)>,
				      <0x050 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>; // GPIO_141   C22   0xc0c1 <BIAS_PULL_UP | BIAS_ON)>,
	};

	mmc2_pins: pinmux_mmc2_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x0e8 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>,
				      <0x0ec (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>,
				      <0x0f0 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>,
				      <0x0f4 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>,
				      <0x0f8 (1 | WAKE_EDGE_OFF)>,
				      <0x0fc (1 | WAKE_EDGE_OFF)>;
	};

	mmc3_pins: pinmux_mmc3_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x1e0 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x1e4 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x1e8 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x1ec (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x200 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x204 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x208 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x20c (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x240 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>,
				      <0x244 (2 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_FAST)>;
	};

	twsi1_pins: pinmux_twsi1_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x140 (0 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_MEDIUM)>, // TWSI1_SCL  L26   0xd0c0  <BIAS_PULL_UP | BIAS_ON)>,
				      <0x144 (0 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW | SLEW_MEDIUM)>; // TWSI1_SDA  K28   0xd0c0  <BIAS_PULL_UP | BIAS_ON)>,

	};

	twsi2_pins: pinmux_twsi2_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x128 (2 | WAKE_EDGE_OFF | TWSI)>,
				      <0x12c (2 | WAKE_EDGE_OFF | TWSI)>;
	};

	twsi6_pins: pinmux_twsi6_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x110 (3 | WAKE_EDGE_OFF)>, // GPIO_47    H26   0xc143 <BIAS_PULL_UP | BIAS_ON)>,
				      <0x114 (3 | WAKE_EDGE_OFF)>; // GPIO_48    N22   0xc143 <BIAS_PULL_UP | BIAS_ON)>,
	};

	lcd0_pins: pinmux_lcd0_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x170 (1 | WAKE_EDGE_OFF)>,
				      <0x174 (1 | WAKE_EDGE_OFF)>,
				      <0x178 (1 | WAKE_EDGE_OFF)>,
				      <0x17c (1 | WAKE_EDGE_OFF)>,
				      <0x180 (1 | WAKE_EDGE_OFF)>,
				      <0x184 (1 | WAKE_EDGE_OFF)>,
				      <0x188 (1 | WAKE_EDGE_OFF)>,
				      <0x18c (1 | WAKE_EDGE_OFF)>,
				      <0x190 (1 | WAKE_EDGE_OFF)>,
				      <0x194 (1 | WAKE_EDGE_OFF)>,
				      <0x198 (1 | WAKE_EDGE_OFF)>,
				      <0x19c (1 | WAKE_EDGE_OFF)>,
				      <0x1a0 (1 | WAKE_EDGE_OFF)>,
				      <0x1a4 (1 | WAKE_EDGE_OFF)>,
				      <0x1a8 (1 | WAKE_EDGE_OFF)>,
				      <0x1ac (1 | WAKE_EDGE_OFF)>,
				      <0x1b0 (1 | WAKE_EDGE_OFF)>,
				      <0x1b4 (1 | WAKE_EDGE_OFF)>,
				      <0x1b8 (1 | WAKE_EDGE_OFF)>,
				      <0x1bc (1 | WAKE_EDGE_OFF)>,
				      <0x1c0 (1 | WAKE_EDGE_OFF)>,
				      <0x1c4 (1 | WAKE_EDGE_OFF)>;

	};

	ssp3_pins: pinmux_ssp3_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x270 (3 | WAKE_EDGE_OFF)>,
				      <0x274 (3 | WAKE_EDGE_OFF)>,
				      <0x278 (3 | WAKE_EDGE_OFF)>,
				      <0x27c (3 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>;
	};

	camera0_pins: pinmux_camera0_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x280 (1 | WAKE_EDGE_OFF)>,
				      <0x284 (1 | WAKE_EDGE_OFF)>,
				      <0x288 (1 | WAKE_EDGE_OFF)>,
				      <0x28c (1 | WAKE_EDGE_OFF)>,
				      <0x290 (1 | WAKE_EDGE_OFF)>,
				      <0x294 (1 | WAKE_EDGE_OFF)>,
				      <0x298 (1 | WAKE_EDGE_OFF)>,
				      <0x29c (1 | WAKE_EDGE_OFF)>,
				      <0x2a0 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>,
				      <0x2a4 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>,
				      <0x2a8 (1 | WAKE_EDGE_OFF)>,
				      <0x2ac (1 | WAKE_EDGE_OFF)>;
	};

	sspa0_pins: pinmux_sspa0_pins {
		pinctrl-single,function-mask = <0x1ff7>;
		pinctrl-single,pins = <0x0b4 (1 | WAKE_EDGE_OFF)>,
				      <0x0b8 (1 | WAKE_EDGE_OFF)>,
				      <0x0bc (1 | WAKE_EDGE_OFF)>,
				      <0x0c0 (1 | WAKE_EDGE_OFF)>,
				      <0x0c4 (1 | WAKE_EDGE_OFF | SLEEP_OUTPUT_LOW)>;
	};
};
